body {
    font-family: sans-serif;
    background-color: rgb(235, 235, 235);

    .container {
        background-color: white;
    
        @media (min-width: 576px) {
            margin: 1.5rem auto;
        }

        .sticky-top {
            top: 1.5rem;
        }

        img {
            border: 5px solid white;
        }
        
        .period-top {
            @media (min-width: 495px) {
                display: none;
            }
        }

        .period-right {
            display: none;

            @media (min-width: 495px) {
                display: block;
            }
        }
    }
}