body {
    font-family: sans-serif;
    background-color: rgb(245, 245, 245);
}

@media (min-width: 576px) {
    .container {
        margin: 1.5rem auto;
        border-radius: 0.5rem; /* Needed for box shadow to respect rounded corners */
    }
}

@media (min-width: 576px) {
    .container > .row > header {
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
    }

    .container > .row > div:last-child {
        border-bottom-left-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
    }
}

@media (min-width: 992px) {
    .container > .row > header {
        border-top-left-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .container > .row > div:last-child {
        border-top-right-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}

img:not(.rounded-circle) {
    border-radius: 0.375rem;
}

.container hr {
    background-color: rgb(245, 245, 245);
}

.container .sticky-top {
    top: 1.5rem;
}

.container .social-button {
    display: block;
    height: 40px;
    width: 40px;
    line-height: 44px;
    background-color: white;
    border-radius: 50%;
}